<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>DM Engineering Tool</title>
        <h:outputScript library="js" name="jquery-1.11.3.min.js" />
        <h:outputScript library="js" name="index.js" />
        <h:outputScript library="js" name="bootstrap.js"/>
        <h:outputStylesheet library="css" name="bootstrap.css"/>
    </h:head>
    <h:body>
        <f:metadata>
            <f:viewParam name="pesid" value="#{indexModelBean.pes}" />
            <f:event type="preRenderView" listener="#{indexModelBean.init()}" />
        </f:metadata>

        <h:form id="formIndex" class="form-horizontal">
            
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">PES ID</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText  value ="#{indexModelBean.pes}" required="true" requiredMessage="PES ID is required!"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">Learning file</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText  value ="#{indexModelBean.learningFile}"  required="true" requiredMessage="Learning file is required!" class="pull-left"/>
                        <h:inputText value ="#{indexModelBean.separator}" class="col-md-2 col-lg-2"> 
                            <f:validateLength maximum="1" />
                        </h:inputText> 
                        <label>  #{indexModelBean.TXT_separator}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label"> Testing file</label>
                    <div class="col-md-4 col-lg-4">
                        <h:inputText  value ="#{indexModelBean.testingFile}"  required="true" requiredMessage="Testing file is required!"/>&nbsp;
                        
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">  #{indexModelBean.TXT_dateFormat}</label>
                    <div class="col-md-4 col-lg-4">
                        <h:inputText value ="#{indexModelBean.dateFormat}" class="col-md-5 col-lg-5"> 
                                <f:validateLength maximum="10" />
                        </h:inputText> 
                    </div>
                    
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">Output file</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText  value ="#{indexModelBean.outputFile}"  required="true" requiredMessage="The output file is required!" class="pull-left"/>
                        <h:commandButton value="Read columns" type="submit" action="#{indexModelBean.loadFile()}" class="btn"/>                        
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-md-offset3 col-lg-offset-3">
                    <h:dataTable id="tblFields" value="#{indexModelBean.csvRows}" var="row">
                        <h:column>
                            <h:inputText value="#{row.column}" />
                        </h:column>
                        
                        <h:column>
                            <h:selectOneMenu value="#{row.selectedDataType}" class="form-control">
                                <f:selectItems value="#{indexModelBean.dataTypes}"/>
                            </h:selectOneMenu>
                        </h:column>
                        <h:column>
                            <h:selectOneMenu value="#{row.selectedColumnType}" class="form-control">
                                <f:selectItems value="#{indexModelBean.columnTypes}"/>
                            </h:selectOneMenu>
                        </h:column>
                        
                    </h:dataTable>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label"> </label>
                    <div class="col-md-3 col-lg-3">

                    </div>
                </div>
                <hr/>
                <h4>Windowing</h4>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{indexModelBean.TXT_windowSize}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText value ="#{indexModelBean.windowSize}"  class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{indexModelBean.TXT_stepSize}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText value ="#{indexModelBean.stepSize}"  class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{indexModelBean.TXT_horizon}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText value ="#{indexModelBean.horizon}"  class="form-control"/>
                    </div>
                </div>

                <hr/>

                <div class="form-group">
                <label class="col-md-3 col-lg-3 control-label">
                    Algorithm
                </label>
                <div class="col-md-3 col-lg-3">

                    <h:selectOneMenu value="#{indexModelBean.selected}" onchange="formAutoSubmit()" class="form-control">
                        <f:selectItems value="#{indexModelBean.templates}" />
                    </h:selectOneMenu>
                </div>
                </div>

        </h:form>
        <hr/>
        <h4>Algorithm parameters</h4>
        <ui:insert>
            <ui:include src="#{indexModelBean.templateName}"/>
        </ui:insert>
        <h:form id="formButtons" class="form-horizontal">
                    <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label"> </label>
                    <div class="col-md-3 col-lg-3">
                        <h:commandButton value="Test PES" type="submit" action="#{indexModelBean.testPES()}" class="btn"/>
                    </div>
                    <label class="col-md-3 col-lg-3 control-label"> </label>
                    <div class="col-md-3 col-lg-3">
                        <h:commandButton value="Store PES" type="submit" action="#{indexModelBean.storePES()}" class="btn"/>
                    </div>
                    <label class="col-md-3 col-lg-3 control-label"> </label>
                    <div class="col-md-3 col-lg-3">
                        <h:commandButton value="Run PES" type="submit" action="#{indexModelBean.runPES()}" class="btn"/>
                    </div>

                </div>

       <div class="col-md-9 col-lg-9 col-lg-offset-3 col-md-offset3">
                    #{indexModelBean.result}
        </div>
        </h:form>
    </h:body>
</html>

