<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>
        <!--f:metadata>
            <f:viewParam name="id" value="#{knnModelBean.id}" />
            <f:event type="preRenderView" listener="#{knnModelBean.init()}" />
        </f:metadata-->

        <ui:composition>

            <h:form id="formKNN" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label"> #{knnModelBean.TXT_k}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText value ="#{knnModelBean.k}" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label"> #{knnModelBean.TXT_weightedVote}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:selectBooleanCheckbox value="#{knnModelBean.weightedVote}" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label"> #{knnModelBean.TXT_measureTypes}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:selectOneMenu value="#{knnModelBean.selectedMeasureType}" class="form-control"  onchange="formAutoSubmit()" >
                            <f:selectItems value="#{knnModelBean.measureTypes}" />
                        </h:selectOneMenu>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label"> #{knnModelBean.selectedMeasureType}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:selectOneMenu value="#{knnModelBean.selectedMeasureTypeType}" class="form-control">
                            <f:selectItems value="#{knnModelBean.measureTypesTypes}" />
                        </h:selectOneMenu>
                    </div>
                </div>

            </h:form>
            
            <ui:insert>
                <label>#{knnModelBean.selectedMeasureType}"</label>
            </ui:insert>
            
        </ui:composition>

    </body>

</html>
