<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>
        <!--f:metadata>
            <f:viewParam name="id" value="#{lprModelBean.id}" />
            <f:event type="preRenderView" listener="#{lprModelBean.init()}" />
        </f:metadata-->
        <ui:composition>

            <h:form id="formLPR" class="form-horizontal">
               
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{lprModelBean.TXT_degree}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText value ="#{lprModelBean.degree}"  class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{lprModelBean.TXT_ridgeFactor}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText  value ="#{lprModelBean.ridgeFactor}"  class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{lprModelBean.TXT_numericalMeasure}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:selectOneMenu value="#{lprModelBean.selectedNumericalMeasure}" class="form-control">
                            <f:selectItems value="#{lprModelBean.numericalMeasure}"/>
                        </h:selectOneMenu>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{lprModelBean.TXT_neighbourhoodType}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:selectOneMenu value="#{lprModelBean.selectedNeighbourhoodType}"  class="form-control" >
                            <f:selectItems value="#{lprModelBean.neighbourhoodType}"/>
                        </h:selectOneMenu>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label"> #{lprModelBean.TXT_relativeSize}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText value ="#{lprModelBean.relativeSize}"  class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label"> #{lprModelBean.TXT_smoothingKernel}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:selectOneMenu value="#{lprModelBean.selectedSmoothingKernel}" class="form-control">
                            <f:selectItems value="#{lprModelBean.smoothingKernel}" />
                        </h:selectOneMenu>
                    </div>
                </div>
                

            </h:form>
        </ui:composition>

    </body>

</html>
