 <?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>RMP Template Storage</title>
        <h:outputScript library="js" name="jquery-1.11.3.min.js" />
        <h:outputScript library="js" name="index.js" />
        <h:outputScript library="js" name="bootstrap.js"/>
        <h:outputStylesheet library="css" name="bootstrap.css"/>
    </h:head>
    <h:body>
        <f:metadata>
            <f:viewParam name="id" value="#{storeModelBean.id}" />
            <f:event type="preRenderView" listener="#{storeModelBean.init()}" />
        </f:metadata>

        <h:form id="formIndex" class="form-horizontal">
            
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">Algorithm</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText  value ="#{storeModelBean.algorithm}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">XML</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText  value ="#{storeModelBean.xml}"/>
                    </div>
                </div>
                <div class="form-group">
                <label class="col-md-3 col-lg-3 control-label"> </label>
                <div class="col-md-3 col-lg-3">
                    <h:commandButton value="Store alg template" type="submit" action="#{storeModelBean.storeProcessTemplate()}" class="btn"/>
                </div>
                <div class="col-md-3 col-lg-3">
                    <h:commandButton value="Read template" type="submit" action="#{storeModelBean.readProcessTemplate()}" class="btn"/>
                </div>
            </div>

       <div class="col-md-9 col-lg-9 col-lg-offset-3 col-md-offset3">
                    #{storeModelBean.result}
        </div>
        </h:form>
    </h:body>
</html>

