<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">



    <body>
        <!--f:metadata>
            <f:viewParam name="id" value="#{svmModelBean.id}" />
            <f:event type="preRenderView" listener="#{svmModelBean.init()}" />
        </f:metadata-->

        <ui:composition>  

            <h:form id="formSVM" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{svmModelBean.TXT_kernelType}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:selectOneMenu value="#{svmModelBean.selectedKernelType}" class="form-control" onchange="formAutoSubmit()">
                            <f:selectItems value="#{svmModelBean.kernelType}" />
                        </h:selectOneMenu> 
                    </div>
                </div>
                <div class="form-group" rendered="#{svmModelBean.showParam1}">
                    <label class="col-md-3 col-lg-3 control-label">#{svmModelBean.TXT_kernelSigma1}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText value="#{svmModelBean.kernelSigma1}" class="form-control"/>
                    </div>
                </div>

                <div class="form-group"  rendered="#{svmModelBean.showParam2}">
                    <label class="col-md-3 col-lg-3 control-label">#{svmModelBean.TXT_kernelShift}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText value="#{svmModelBean.kernelShift}" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{svmModelBean.TXT_c}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText value="#{svmModelBean.c}" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{svmModelBean.TXT_epsilon}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText value="#{svmModelBean.epsilon}" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{svmModelBean.TXT_startPopulationType}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:selectOneMenu value="#{svmModelBean.startPopulationType}" class="form-control">
                            <f:selectItems value="#{svmModelBean.startPopulationType}" />
                        </h:selectOneMenu>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{svmModelBean.TXT_maxGenerations}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText value="#{svmModelBean.maxGenerations}" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{svmModelBean.TXT_generationsWithoutImproval}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText value="#{svmModelBean.generationsWithoutImproval}" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{svmModelBean.TXT_populationSize}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText value="#{svmModelBean.populationSize}" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{svmModelBean.TXT_tournamentFraction}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText value="#{svmModelBean.tournamentFraction}" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{svmModelBean.TXT_keepBest}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:selectBooleanCheckbox value="#{svmModelBean.keepBbest}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{svmModelBean.TXT_mutationType}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:selectOneMenu value="#{svmModelBean.selectedMutationType}" class="form-control">
                            <f:selectItems value="#{svmModelBean.mutationType}" />
                        </h:selectOneMenu> 
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{svmModelBean.TXT_selectionType}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:selectOneMenu value="#{svmModelBean.selectedSelectionType}" class="form-control">
                            <f:selectItems value="#{svmModelBean.selectionType}" />
                        </h:selectOneMenu> 
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{svmModelBean.TXT_crossoverProb}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText value="#{svmModelBean.crossoverProb}" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{svmModelBean.TXT_useLocalRandomSeed}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:selectBooleanCheckbox value="#{svmModelBean.useLlocalRandomSeed}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{svmModelBean.TXT_holdOutSetRation}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:inputText value="#{svmModelBean.holdOutSetRatio}" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{svmModelBean.TXT_showConvergenvePlot}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:selectBooleanCheckbox value="#{svmModelBean.showConvergencePlot}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{svmModelBean.TXT_startPopulationType}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:selectBooleanCheckbox value="#{svmModelBean.showPopulationPlot}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label">#{svmModelBean.TXT_returnOptimizationPerformance}</label>
                    <div class="col-md-3 col-lg-3">
                        <h:selectBooleanCheckbox value="#{svmModelBean.returnOptimizationPerformance}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 col-lg-3">
                        <h:commandButton value="verify" type="submit" action="#{svmModelBean.verify()}" class="btn"/>
                    </div>
                </div>

            </h:form>

        </ui:composition>
    </body>

</html>
